@import url('https://fonts.googleapis.com/css?family=Lato:300i,400|Raleway:200,300,400,600');

//font variables
$font-stack-heading: 'Raleway', sans-serif;
$font-stack-text: 'Lato', sans-serif;

//box-model variables
$padding: 1%;

//colors
$demos_blue: #1C5EFF;
$demos_sea: #5CCDFF;
$black: #333;

//Fonts and Colors

body {
  color: $black;
  background-color: #fafafa;
}

h1, h2, h3 {
  font-family: $font-stack-heading;
}

h1 {
  color: $demos_blue;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
  display: inline;
  position: relative;
  top: 11px;
  right: 7px;
  
}

h2 {
  color: $demos_sea;
  font-weight: 200;
  font-size: 18px;
  margin-top: 5px;
  
}

.blast {
  font-size: 72px;
  color: $demos_sea;
  font-weight: 600;
}

p, label {
  font-family: $font-stack-text;
  font-size: 20px;
}

//background image

.include_background {
  background: url("../images/splash.jpg") no-repeat;
  background-size: 140%;
  background-position: -300px 0px;

}

.logo_splash {
  float: left;
}

//nav 
.navigation {
  float: left;
  margin-left: 20px;
  margin-top: 25px;
}

.navigation li a {
  font-size: 18px;
}

//header styles
img.logo {
  display: inline;
  height: 25px;
  width: 25px;
  margin-left: -3px;
  position: relative;
  top: 6px;
  right: 2px;
}

.header {
  overflow: hidden;
}

.logo_splash {
  margin-top: 5px;
}

//form styles
.form-box {
  padding: $padding;
}

//Button Styles
.btn {
  background-color: $demos_blue;
  color: white;
  font-size: 20px;
  font-family: $font-stack-heading;

}

.index-button {
  width: 250px;
  height: 50px;
}

.btn:hover {
  background-color: $demos_sea;
  color: white;
  font-family: $font-stack-heading;
  // font-size: 20px;
}

.signup {
  text-align: center;
}

//front-page

.wrap {
  width: 80%;
  margin: 0 auto;
}

.message {
  margin-bottom: 100px;
}

.main_content {
  margin-bottom: 50px;
}

.top_signup {
  text-align:right;
  float: right;
}

.signup_button {
  clear: both;
  margin-top: 25px;
  width: 150px;
  height: 35px;
  font-size: 16px;
}

.pitch {
  font-family: $font-stack-text;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  color: #ccc;
}

.quote {
  font-family: $font-stack-text;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  color: #444;
}

//main content boxes
.list_icon {
  text-align: center;
  font-size: 36px;
}

.container-fluid {
  max-width: 1200px;
}
//quote
// .testimonial {
//   margin-top: 100px;
//   background-color: rgba(0,0,0,.6);
// }

// footer

footer {
  text-align: center;
  margin-top: 50px;

  .footer-links a {
    margin: 0 5px;
  }
}

/* campaign page */

.create-campaign-form {
  width: 500px;
  margin: 0 auto;
}

textarea {
  resize: none;
}

.create-button {
  float: right;
}

//browse page
.create_list {
  text-align: left;
  float: right;

  .btn {
    padding: 5px;
    font-size: 16px;
  }
}

.list_button {
  font-size: 16px;
  padding: 5px 5px;
}

//bill page
.bill_button {
  padding: 5px 5px;
  background-color: $demos-blue;
  color: white;
  margin-right: 10px;
  font-size: 12px;
}

.billcard {
  margin: 5px 0px;
}

// card stuff
.card {
  display: inline-block;
  width: 250px;
  height: 150px;
  padding: 1em;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: $demos_sea;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #ddd;
}

.numbers p {
  font-size: 16px;
}
