extends layout

block content
  nav
    div.logo
      a(href='/') Demos
      img(src='images/icon-w.png')
    div.top-links
      a#home(href='/') Home
      a#about(href='about') About
      a#login(href='login') Login
      a#signUp(href='signUp') Sign Up

  div.content-wrap.about
    h3 About Us
    p about about about
    p.small *some small text