extends layout-2
block content
  div
    h3 Bills you care about
      div.create_list
        a.create-btn.btn.btn-primary(href='http://app.fiscalnote.com')
          button.btn(type="button") Browse Bills
   
   div.bill_list
    div.billcard
      a(href='/create-campaign')
        button.bill_button.btn
          span.glyphicon.glyphicon-plus 
          span &nbsp;Create Campaign
      a(href="https://app.fiscalnote.com/#/share/bill?url=8dcd5130ace3bd23992b4da68f6d02be") VA HB 123 Religious Freedom Exceptions
    div.billcard
      a(href='/create-campaign')
        button.bill_button.btn 
          span.glyphicon.glyphicon-plus 
          span &nbsp;Create Campaign
      a VA SB 183 Bathroom regulations
    div.billcard
      a(href='/create-campaign')
        button.bill_button.btn 
          span.glyphicon.glyphicon-plus 
          span &nbsp;Create Campaign
      a MD SB 149 Religious Freedom Protection Act
    div.billcard
      a(href='/create-campaign')
        button.bill_button.btn 
          span.glyphicon.glyphicon-plus 
          span &nbsp;Create Campaign
      a MD HB 182 The Maryland Religious Freedom Protection Act
    div.billcard
      a(href='/create-campaign')
        button.bill_button.btn 
          span.glyphicon.glyphicon-plus 
          span &nbsp;Create Campaign
      a WV SB 128 Relgious Freedom Amendments 
