extends layout-2
block content
  div
    h3 Your lists
    div.create_list
        a.create-btn.btn.btn-primary.list_button(href='/create-campaign')
            button.btn.list_button(type="button") Create List
    
    div(ng-repeat='lists as list')
      {{list.name}}
