extends layout-2

block content
  .create-campaign-form
    form(ng-submit='createList()')
      h3= title
      div.form-group.list-name
        label List Name:
        div
          input.form-control(type='text', ng-model='listname')
      div.form-group.list-numbers
        label(for='numbers') Phone Numbers:
        textarea.form-control#your-numbers(ng-model='numbers', rows=2, placeholder='Enter phone numbers separated by commas')
    a(href='/list')
      button.btn.btn-default(ng-click="createList()") Save List
