extends layout 
block vars
	- var bodyClass='include_background'
block content

	section.wrap.message
		h3.blast Take Action on the Issues You Care About
		p.pitch Take your political beliefs beyond posting on social media. Take action on issues you and your friends care about in one platform. 

	section.wrap.main_content
		div.row
			div.item1.col-md-4
				div.list_icon
					span.glyphicon.glyphicon-list
				p Create and manage lists of fellow advocates to direct them to take action.
			
			div.item2.col-md-4
				div.list_icon
					span.glyphicon.glyphicon-file
				p Use real-time bill information to target your efforts and make a difference.
			
			div.item3.col-md-4
				div.list_icon
					span.glyphicon.glyphicon-bullhorn
				p Text/Email your lists to create a sustained force for change. 

	section.wrap.signup
		a(href="/signup")
			button.btn.index-button(type="button") Take Action Today






