doctype html
html
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon',href='/images/favicon.png',type='image/x-icon')

  block vars
  body(class="#{bodyClass}", ng-app='demos', ng-controller='demosController')
    div.container-fluid
      div.header
        div.logo_splash
          img(src='images/demos.png').img-responsive.logo
          h1 DEMOS
          h2 People-Powered Movements
        
        div.navigation
          ul.nav.nav-pills
            li 
              a About us
            li 
              a Product
            li 
              a Contact

        div.top_signup
          button.btn.signup_button(type="button") Account
      
      block content
      footer.col-md-12
        div.footer-links
          a(href='/about') About
        © Demos 2017

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') 
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
    script(type='text/javascript', src='/js/app.js')
