doctype html
html
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/app.css")
    link(rel='shortcut icon',href='/images/favicon.png',type='image/x-icon')
  block vars
  body(class="#{bodyClass}")
    div.container-fluid
      div.header
        div.logo_splash.col-md-4
          img(src='images/demos.png').img-responsive.logo
          h1 DEMOS
          h2 People-Powered Movements
        
        div.navigation.col-md-4
          ul.nav.nav-pills
            li 
              a About us
            li 
              a Product
            li 
              a Contact

        div.top_signup.col-md-4
          button.btn.signup_button(type="button") Sign Up
      
      block content
      footer.col-md-12
        div.footer-links
          a(href='/about') About
        © Demos 2017

    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') 
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
