extends layout-2
block content
  div
    h3 Your lists
        div.create_list
          a.create-btn.btn.btn-primary(href='/create-list')
            button.btn(type="button") Create List

    div.cards
      a(href='/friends')
        div.card
          span DC Friends
