extends layout-2
block content
  div
    h3 Your lists
      a.create-btn.btn.btn-primary(href='/create-campaign')
        button.btn(type="button") Create List

    div.cards
      a(href='/friends')
        div.card
          DC Friends
