extends layout

block content
  nav
    div.logo
      a(href='/') Out of Time
      img(src='images/icon-w.png')
    div.top-links
      a#about(href='about') About
      a#login(href='login') Login
      a#signUp(href='signUp') Sign Up

  div.content-wrap.signup
    h3= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
      input.form-control#inputUserName(type="text", placeholder="Username", name="username")
      input.form-control#inputUserEmail(type="text", placeholder="Email", name="useremail")
      input.form-control#inputPassword(type="password", placeholder="Password", name="password")
      input.form-control#inputPasswordConfirm(type="password", placeholder="Confirm Password", name="password2")
      button.btn.btn-primary#btnSubmit(type="submit") Create Account